/* NAVBAR */
.navbar {
    background-color: transparent;
 }

.nav-items {
    color: #F5FAFF;
}

.navbar-brand {
    --angle: 0deg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5FAFF;
    font-size: 30px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), #f3f0f0 , #bb5d5d, #611515);
    animation: 8s rotate linear infinite;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: hsla(0, 7%, 8%, 0.781);
}

.header-container {
    position: relative;
    text-align: center;
    color: white;
}

.greeting {
    background-color: #4b4a4d88;
    margin: 1%;
    padding: 1%;
    border-radius: 20%;
    box-shadow: 2px 4px hsla(240, 8%, 15%, 0.781);
    position: absolute;
    top: 1%;
    left: 5%;
    width: 75%;
    height: auto;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.navbar-toggler {
    background-color: #611515;
    border: 3px solid black;
    border-radius: 10px;
}

.header-img {
    width: 100%;
   
}

/* CAROUSEL */
.carousel {
    background-image: linear-gradient(#0071f2, #F5FAFF);
}

/* LANDING */
#landing {
    display: flex;
    justify-content: space-between; 
} 


/* PROJECT */
.project-section {
    height: fit-content;
    background-image: linear-gradient(#F5FAFF, rgb(33,37,41));
}

.project-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #BB2D3B;
    border-radius: 10px;
    z-index: 2;
}

/* .project-section img:hover {
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: 3;
} */

/* FORMSPREE */
.contact-me {
    color: #BB2D3B;
}

label {
    color: #BB2D3B;
}

input {
    color: #BB2D3B;
}

#fs-frm {
    /* background-image: linear-gradient(#F5FAFF, rgb(33,37,41)); */
    background-color: rgb(33,37,41);
}

/* FOOTER */
.footer {
    background-color: rgb(33,37,41);
}

.nav-link {
    color: #BB2D3B;
}

.btn {
    box-shadow: 3px 3px rgb(22, 17, 17);
}

.headshot {
    width: 100%;
    height: auto;
}

.lander-intro {
    margin-top: 1%;
}

.content_img {
    position: relative;
    margin: 3px;

}

.project_description {
    font-size: 1.5vw;
}

p {
    font-size: 2vw;
}

h1 {
    font-size: 5vw;
}

.content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover{
    cursor: pointer;
}

.content_img:hover div {
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}

/* BODY */
body {
    font-family: 'Trispace', sans-serif;
    background-color: #F5FAFF;   
}



