/* NAVBAR */
.navbar {
    background-color: transparent;
 }

.nav-items {
    text-align: center;
    color: #F5FAFF;
}

.navbar-brand {
    --angle: 0deg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5FAFF;
    font-size: 30px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), #00FFFF , #0071F2, #001833);
    animation: 8s rotate linear infinite;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #001833;
}

.header-container {
    position: relative;
    text-align: center;
    color: white;
}

.greeting {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 50%;
    height: auto;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.navbar-toggler {
    background-color: #001833;
    border: 3px solid black;
    border-radius: 10px;
}

/* CAROUSEL */
.carousel {
    background-image: linear-gradient(#0071f2, #F5FAFF);
}

/* LANDING */
#landing {
    display: flex;
    justify-content: space-between;
    
} 


/* PROJECT */
.project-section {
    height: fit-content;
    /* background: black; */
}

.project-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #0071F2;
    border-radius: 10px;
    z-index: 2;
}

.project-section img:hover {
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: 3;
}

/* FORMSPREE */
.contact-me {
    color: #001833;
}

label {
    color: #001833;
}

input {
    color: #001833;
}

#fs-frm {
    background-image: linear-gradient(#F5FAFF, darkblue);
}

/* FOOTER */
.footer {
    background-color: darkblue;
}

/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5FAFF;   
}



